<!--DOC type HTML-->
<html>
<head>
    <h3> Hero's of WW2 </h3>
</head>
<body>
<p>
    The Second World War was a deadly conflict that required all nations to fight to the full
</p>
<p>
    You have just been promoted to Section Leader of 2nd Platoon, B Company in the 11th East
    African Division fighting in Burma. Select 10 Soldiers with appropriate Fighting Roles to
    Accompany you on the road to Mandalay.
</p>
<BR>
<p>
    Choose wisely
</p>

<h3> Kits</h3>
<h4> Kits are the equipment that soldiers under your command carry</h4>

<h5>Rifleman Kit (no4 mk.(I))</h5>
<h5>Machine Gunner Kit (Bren)</h5>
<h5>Submachine Gunner Kit (Thompson)</h5>
<h5>Submachine Gunner Kit (Sten)</h5>
<h5>Sniper Kit (no4 mk.I(T)</h5>
<h5>Corporal Kit (no4 mk.I, Webley Revolver)</h5>
<h5>Rifleman Kit (m1 Carbine)</h5>

</body>